.container{    
    width: 1900px;
    background-color: silver;
    margin: 0px auto;
    margin-right: 0px auto;
    min-height: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
}
.top-nav {
    height: 150px;
    background-color: green;
    margin-top: 20px;    
    margin-left: 20px;
    margin-right: 20px;
    width: 1825px;
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    margin-left: 20px;
    display: inline-block;
    margin-top: 20px;
    
}
.main {
    height: 400px;
    width: 1600px;
    background-color: red;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;    
    padding-top: 50px;
    vertical-align: 50px;
    
}
.sub-content {
    height: 200px;
    width: 500px;
    background-color: yellow;
    margin-left: 15px;
    display: inline-block;
}
#advertisement {
    height: 120px;
    width: 1540px;
    background-color: purple;
    display: block;
    margin-left: 15px;
    margin-top: 15px;
}